ci-cd-build-test.json
{
  "name": "Git Commit CI/CD Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "git-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "git-commit-hook"
    },
    {
      "parameters": {
        "command": "cd /path/to/repo && git pull && npm install && npm run build"
      },
      "id": "build-node",
      "name": "Build Project",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "cd /path/to/repo && npm test"
      },
      "id": "test-node",
      "name": "Run Tests",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.code}}",
              "operation": "equal",
              "value2": "0"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Tests Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "channel": "#dev-team",
        "text": "✅ Build Successful!\nCommit: {{$node['Webhook'].json['body']['commits'][0]['message']}}\nAuthor: {{$node['Webhook'].json['body']['commits'][0]['author']['name']}}",
        "otherOptions": {}
      },
      "id": "slack-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "channel": "#dev-team",
        "text": "❌ Build Failed!\nCommit: {{$node['Webhook'].json['body']['commits'][0]['message']}}\nError: {{$node['Run Tests'].json['stderr']}}",
        "otherOptions": {}
      },
      "id": "slack-fail",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Pipeline completed\"}"
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Build Project", "type": "main", "index": 0}]]
    },
    "Build Project": {
      "main": [[{"node": "Run Tests", "type": "main", "index": 0}]]
    },
    "Run Tests": {
      "main": [[{"node": "Tests Passed?", "type": "main", "index": 0}]]
    },
    "Tests Passed?": {
      "main": [
        [{"node": "Notify Success", "type": "main", "index": 0}],
        [{"node": "Notify Failure", "type": "main", "index": 0}]
      ]
    },
    "Notify Success": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "Notify Failure": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null
}