crypto-price-alert.json
{
  "name": "Crypto Price Alert System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "url": "https://api.coingecko.com/api/v3/simple/price",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "bitcoin,ethereum,cardano,solana,ripple"
            },
            {
              "name": "vs_currencies",
              "value": "usd"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Get Crypto Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "price-alerts",
              "name": "priceAlerts",
              "value": "=[\n  {\n    \"crypto\": \"bitcoin\",\n    \"symbol\": \"BTC\",\n    \"threshold\": 100000,\n    \"condition\": \"above\",\n    \"email\": \"your-email@example.com\"\n  },\n  {\n    \"crypto\": \"ethereum\",\n    \"symbol\": \"ETH\",\n    \"threshold\": 4000,\n    \"condition\": \"above\",\n    \"email\": \"your-email@example.com\"\n  },\n  {\n    \"crypto\": \"bitcoin\",\n    \"symbol\": \"BTC\",\n    \"threshold\": 80000,\n    \"condition\": \"below\",\n    \"email\": \"your-email@example.com\"\n  },\n  {\n    \"crypto\": \"solana\",\n    \"symbol\": \"SOL\",\n    \"threshold\": 200,\n    \"condition\": \"above\",\n    \"email\": \"your-email@example.com\"\n  }\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "set-alerts",
      "name": "Set Price Alerts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "combined-data",
              "name": "combinedData",
              "value": "={{ $json.priceAlerts.map(alert => ({\n  ...alert,\n  currentPrice: $('Get Crypto Prices').item.json[alert.crypto]?.usd || 0\n})) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "combine-data",
      "name": "Combine Prices with Alerts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "combinedData",
        "options": {}
      },
      "id": "split-out",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-above",
              "leftValue": "={{ $json.condition === 'above' && $json.currentPrice >= $json.threshold }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "condition-below",
              "leftValue": "={{ $json.condition === 'below' && $json.currentPrice <= $json.threshold }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-condition",
      "name": "Check Alert Condition",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "fromEmail": "alerts@yourservice.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=🚨 Crypto Price Alert: {{ $json.symbol }} {{ $json.condition === 'above' ? '▲' : '▼' }}",
        "message": "=<h2>Price Alert Triggered!</h2>\n\n<p><strong>{{ $json.crypto.toUpperCase() }} ({{ $json.symbol }})</strong></p>\n\n<p>Current Price: <strong>${{ $json.currentPrice.toLocaleString() }}</strong></p>\n<p>Alert Threshold: ${{ $json.threshold.toLocaleString() }} ({{ $json.condition }})</p>\n\n<p>{{ $json.condition === 'above' \n  ? '✅ Price has risen above your target!' \n  : '⚠️ Price has fallen below your target!' \n}}</p>\n\n<p><em>This alert was triggered at {{ $now.toLocaleString() }}</em></p>",
        "options": {
          "contentType": "html"
        }
      },
      "id": "send-email",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1570, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Crypto Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Crypto Prices": {
      "main": [
        [
          {
            "node": "Set Price Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Price Alerts": {
      "main": [
        [
          {
            "node": "Combine Prices with Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Prices with Alerts": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Check Alert Condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Alert Condition": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-12-14T00:00:00.000Z",
  "versionId": "1"
}