n8n restaurant.json
{
  "name": "Restaurant WhatsApp Automation with AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "whatsapp_trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-restaurant"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.message.type}}",
              "operation": "equals",
              "value2": "text"
            }
          ]
        }
      },
      "id": "filter_text_messages",
      "name": "Filter Text Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const message = $input.first().json.body.message.text.body;\nconst from = $input.first().json.body.message.from;\nconst timestamp = new Date().toISOString();\n\nreturn {\n  json: {\n    customer_phone: from,\n    message: message,\n    timestamp: timestamp,\n    conversation_id: `${from}_${Date.now()}`\n  }\n};"
      },
      "id": "extract_message_data",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 250]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "CustomerMemory",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$json.timestamp}}",
            "customer_phone": "={{$json.customer_phone}}",
            "message": "={{$json.message}}",
            "conversation_id": "={{$json.conversation_id}}"
          }
        },
        "options": {}
      },
      "id": "save_to_memory",
      "name": "Save to Memory (Sheet)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 150],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "CustomerMemory",
          "mode": "name"
        },
        "filters": {
          "values": [
            {
              "column": "customer_phone",
              "value": "={{$json.customer_phone}}"
            }
          ]
        },
        "options": {
          "returnAllMatches": true
        }
      },
      "id": "get_customer_history",
      "name": "Get Customer History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 350],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const currentMessage = $('Extract Message Data').first().json;\nconst history = $input.all().map(item => item.json);\n\nconst conversationContext = history\n  .slice(-5)\n  .map(h => `Customer: ${h.message}`)\n  .join('\\n');\n\nreturn {\n  json: {\n    current_message: currentMessage.message,\n    customer_phone: currentMessage.customer_phone,\n    conversation_history: conversationContext,\n    total_interactions: history.length\n  }\n};"
      },
      "id": "prepare_ai_context",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list"
        },
        "prompt": {
          "messages": [
            {
              "role": "user",
              "content": "=You are a friendly restaurant assistant. Help customers with:\n- Menu inquiries\n- Reservations\n- Order placement\n- Special dietary requirements\n- Operating hours\n\nCustomer conversation history:\n{{$json.conversation_history}}\n\nCurrent message: {{$json.current_message}}\n\nRespond naturally and helpfully. If they want to make a reservation or order, collect: name, date/time, number of people, special requests."
            }
          ]
        },
        "options": {
          "maxTokens": 1000
        }
      },
      "id": "ai_response",
      "name": "AI Response (Claude)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_API_KEY",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $json.content[0].text;\nconst customerPhone = $('Prepare AI Context').first().json.customer_phone;\n\nreturn {\n  json: {\n    response_text: aiResponse,\n    customer_phone: customerPhone,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "format_response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "CustomerMemory",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$json.timestamp}}",
            "customer_phone": "={{$json.customer_phone}}",
            "message": "=AI: {{$json.response_text}}",
            "conversation_id": "={{$('Extract Message Data').first().json.conversation_id}}"
          }
        }
      },
      "id": "save_ai_response",
      "name": "Save AI Response to Memory",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1650, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v17.0/YOUR_PHONE_NUMBER_ID/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$json.customer_phone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={\"body\": \"{{$json.response_text}}\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "send_whatsapp_response",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1650, 400],
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_CREDENTIALS",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Message processed\"}",
        "options": {}
      },
      "id": "webhook_response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter Text Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Text Messages": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Save to Memory (Sheet)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Customer History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer History": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Context": {
      "main": [
        [
          {
            "node": "AI Response (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Response (Claude)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Save AI Response to Memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T00:00:00.000Z",
  "versionId": "1"
}